@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --main_color: #11124afe;
    --sec_color: #71718d;
    --ter_color: #f17a0a;
    --bg_color: #f8f8f8;

}


body {
    background: var(--bg_color);
}


h1,
h2,
h3 {
    font-family: "Kiwi Maru", serif;
    color: var(--main_color);
}

span,
p,
a,
.nav-link {
    font-family: "Open Sans";
    font-weight: 600;
}

.nav-link:hover {
    color: var(--ter_color);

}


span {
    color: var(--ter_color);
    margin: 20px 0;
}

#hero p,
#beneficios p,
#queOfrecemos {
    color: var(--sec_color);
}

section {
    padding: 120px 0 0 0;
}


.teContamos__description {
    width: 40%;
}

.card {
    min-width: 30%;
    padding: 30px 10px;
    border: none;

    * {
        margin: 10px 0;
    }
}

.btn-success {
    border: 1px solid white;
}

.btn-success:hover {
    background-color: limegreen;
    border: 1px solid white;
}

.btn-cancel:hover {
    background-color: red;
    color: white;
}

/* .invalid-feedback::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    color: orangered;

} */

.modal-header,
.modal-footer {
    border: none
}

.btn {
    border-radius: 0;
}

.gallery div a {
    display: block;
    height: 150px;
    overflow: hidden;
}

.img-thumbnail {
    padding: 0;
 
}

/* qué hace esto ↓ */
.gallery>:nth-child(2)>a>img{
    position: relative;
    bottom:70px;
} /* dado que la segunda thumbnail es más alta que el resto, en lugar de editar la imagen, este selector la encuentra y la posiciona, respecto a su contenedor, un poco más arriba, para centrarla */


.navbar-toggler,
.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

